html {
	height: 100%;
	padding: 0;
	margin: 0;
}
*,
*::after,
*::before {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
  margin: 0;
	height: 100%;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}
p {
	margin: 0;
}
li {
	list-style: none;
}
button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 18px;
	line-height: 21px;
	font-family: 'Poppins', sans-serif;
	padding: 0;
	color: #000000;
}
h2 {
	margin: 0;
}
.container {
	max-width: 1600px;
	margin: 0px auto;
	padding: 0 10px;
}
.header {
	background-color: #0026ff;
}
.header__inner {
	height: 205px;
	background-size: contain; 
	background-repeat: no-repeat; 
	background-position: center center;
	display: flex;
	justify-content: flex-end;
}
.header__link {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	margin-top: 25px;
	text-transform: uppercase;
	color: #0026ff;
	background-color: yellow;
	padding: 10px 20px;
	border-radius: 10px;
	display: block;
	height: 42px;
	transition: all .5s;
}
.header__link:hover {
	background-color: #0026ff;
	color: yellow;
}
#items	{
	display: none;
}
.main {
	flex: 1 1 auto;
	background-image: url('images/bg.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.wrapper {
	height: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.content__inner {
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.left-column {
	max-width: 390px;
}
.left-column__image-img {
	max-width: 100%;
}
.tags__title,
.categories__title {
	font-size: 26px;
	line-height: 24px;
	font-weight: 700;
	color: #890505;
	margin-bottom: 15px;
}
.tags__buttons {
	display: flex;
	gap: 10px 12px;
	flex-wrap: wrap;
}
.mid-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: auto;
	position: relative;
	padding: 10px 38px 10px;
	max-width: 650px;
	min-height: 550px
}
.info-item {
	display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.info__inner {
	max-width: fit-content;
}
.info__text {
	display: block;
	font-family: 'Reggae One', cursive;
	font-size: 18px;
	line-height: 30px;
	user-select: none;
}
.info__buttons {
	align-self: flex-end;
	display: flex;
	justify-content: space-between;
}
.info__next,
.info__prev {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-68%);
	background-size: contain;
	background-repeat: no-repeat;
	height: 30px;
	width: 25px;
	display: none;
	opacity: 0.8;
	transition: all 0.5s;
}
.disable-btn {
  pointer-events: none;
  opacity: 0;
}
.info__prev {
	left: 0;
	background-image: url('images/prev.svg');
}
.info__next {
	right: 0;
	background-image: url('images/next.svg');
}
.info__next:hover,
.info__prev:hover {
	opacity: 1;
}
.right-column {
	max-width: 280px;
	min-width: 245px;
	height: 435px; 
  overflow-y: auto;
}
.categories__buttons {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.category-btn {
	margin-bottom: 10px;
	display: block;
}
.text-content {
	margin-bottom: 25px;
	font-family: 'Reggae One', cursive;
	font-size: 30px;
	line-height: 55px;
}
.img-content {
	max-width: 100%;
	margin: 0px auto;
	max-height: 500px;
	object-fit: contain;
	user-select: none;
}
.text-content:first-child::first-letter {
	color: #005E31;
	font-weight: 700;
	font-size: 40px;
}
.footer {
	padding: 10px 0;
}
.footer__inner {
	display: flex; 
	justify-content: center;
	align-items: center;
	color: #585454;
	font-size: 14px;
}
@media(max-width: 1200px) {
	.left-column {
    max-width: 335px;
	}
}
@media(max-width: 1200px) {
	.content__inner {
		gap: 8px;
	}
	.left-column {
    max-width: 310px;
	}
	.info__inner {
		max-width: 100%;
	}
	
	.right-column { 
		height: 597px;
	}
}
@media(max-width: 1100px) {
	.header__image-img {
		height: 150px;
	}
	.content {
		margin-bottom: 20px;
	}
	.content__inner {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.left-column {
		order: 3;
		max-width: 100%;
	}
	.mid-column {
		max-width: calc(100% - 280px);
	}
	.img-content {
		max-height: 560px;
	}
	.right-column {
		margin-left: auto;
	}
}
@media(max-width: 960px) {
	.text-content {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 38px;
	}
}
@media(max-width: 690px) {
	.content__inner {
		flex-direction: column;
		gap: 35px;
	}
	.mid-column {
		max-width: 100%;
		min-height: 550px;
		min-width: auto;
	}
	.text-content {
		margin-bottom: 20px;
	}
	.right-column {
		margin-left: 0;
	}
	.footer__inner {
		flex-direction: column;
		gap: 10px;
		text-align: center;
	}
}
@media(max-width: 460px) {
	.mid-column {
		padding: 10px  20px;
	}
.info__next, .info__prev {
	height: 20px;
	width: 13px;
	}
	.text-content {
		margin-bottom: 5px;
	}
}